{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <script src="{% static "js/jquery-1.10.2.js" %}"></script>
                    <script src="{% static "js/bootstrap.js" %}"></script>

                <meta charset="utf-8">
        <title>Take Attendance</title>
        <link rel="stylesheet" href="{% static "css/date.css" %}">
        <script src="{% static "js/date-js.js" %}"></script>
        <script src="{% static "js/date-ui.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/demo.css" %}">
        <script>
        $(function() {
        $( "#datepicker" ).datepicker({ dateFormat : 'yy-mm-dd' });
        });
        </script>


        <link rel="stylesheet" href="{% static "js/jquery-ui.css" %}">
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        
                        <title>Take Attendance</title>
                        
                        <!-- Bootstrap core CSS -->
                        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
                            
                            <!-- Add custom CSS here -->
                            <link href="{% static "css/blog-home.css" %}" rel="stylesheet">
                                
                                </head>
    
    <body>
        
       
        
         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/home/#myCarousel"><strong>ZAYA TEST MODULE</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/home/">Home</a>
                        </li>
                        <li class="active">Take Attendance</li>
                    </ol>
                </div>
                
            </div>
            
            <div class="row">
                
                <div class="col-lg-12">
                    
                        
                        
                        <div class="row">
                            <div class="col-lg-6">
                                
                                <form role="form" method="post" action="/submit_attendance/">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input type="text" name="todays_date" id="datepicker" class="Datepicker" />
										
										{% if same_date == 1 %}

            
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Attendance <a class="alert-link" target="_blank" href="/help/"></a> already exists for this day.
                <p></p>
            </div>


                                        
                                        {% endif %}
										
										{% if same_date == 2 %}
            
            <div class="alert alert-info ">
                <button type="button" class="close"  aria-hidden="true">&times;</button>
                Date Field <a class="alert-link" target="_blank" href="/help/"></a>cannot be left blank.
                <p></p>
            </div>

                                        {% endif %}
										
										{% if same_date == 3 %}

            
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Date Format <a class="alert-link" target="_blank" href="/help/"></a> should be YYYY-MM-DD.
                <p></p>
            </div>
                                        {% endif %}
                                            </div></center>
                                    </div>
                            </div>
                        
                        
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <h2>Students Attendance</h2>
                                <div class="table-responsive">
                                    

                                    <table class="table table-bordered table-hover tablesorter">
                                        <thead>
                                            <tr>
                                                
                                                <th>Name <i class="fa fa-sort"></i></th>
                                                <th>Present<i class="fa fa-sort"></i></th>
                                                <th>Absent <i class="fa fa-sort"></i></th>
                                                


                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                           
                                           <!--CODE HERE TO PRINT THE PAGE FOR THE STUDENT-->
                                           {% for user in users_list %}
										<tr>
                                                   <td>{{ user.Name }}</td>
													<td>
                                                    <input type="radio" name="status{{ forloop.counter }}"  value="1" checked>
                                                    </td>
                                                    <td>
                                                    <input type="radio" name="status{{ forloop.counter }}" value="0" >
                                                    </td>
                                        </tr>
                                            {% endfor %}


                                            



                                            

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        
            </div>
                        <!--CODE HERE TO SUBMIT THE INFO TO DATABASE-->
                        <button type="submit" name="submit_attendance" value="submit_attendance" class="btn btn-default">Save Attendance</button>

                    </form>
            
            <div class="row">
                <div class="col-lg-8">
                    
                
              
            <hr>
            
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p></p>
                    </div>
                </div>
            </footer>
            
        </div>
        
        
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <center>
                            </center>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </footer>
        <!-- JavaScript -->

                    <!-- JavaScript -->
                    
                    
        
    </body>
    
</html>