{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<title>Assign points</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="{% static "css/round-about.css" %}" rel="stylesheet">
	 <link rel="stylesheet" href="{% static "css/datepicker.css" %}" rel="stylesheet">
		<link rel="stylesheet" media="all" type="text/css" href="{% static "jquery-ui-timepicker-addon.css" %}" />
	<script type="text/javascript" src="{% static "bootstrap-datepicker.js"%}" charset="UTF-8"></script>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/#myCarousel"><strong>ZAYA TEST MODULE</strong></a>
            </div>

            
            <!-- /.navbar-collapse -->
        </div>
	</nav>
	
	<div class="container">
            
            <div class="row">
                
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/home/">Home</a>
                        </li>
                        <li><a href="/home/">Assign points</a>
                        </li>
                        <li class="active">Behaviour form</li>
                    </ol>
                </div>
                
            </div>
		{% if points_assigned %}
					<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<center><a class="alert-link" target="_blank" href=""></a>Behaviour points successfully assigned for {{ user.Name }}
					</div></center>
		{% endif %}
				<div class="well">

                    {% if no_name %}
                        <p>This field is required</p>
                    {% endif %}

                <h3>User Name </h3>
                <form role="form" action="/assign_points/" method="post">{% csrf_token %}
                    <div class="form-group">
<!--                         <textarea class="form-control" name="title" column="20" rows="1"></textarea>
 -->						<input type="text" name="user_name" style="width: 1000px; height: 40px; padding: 2px; border: 1px solid black" placeholder="Name of the user">

                    </div>

                    {% if no_behaviour_type %}
                        <p>This field is required</p>
                    {% endif %}

					<h3>Behaviour Type</h3>
                    
                    <div class="form-group">
                     	<input type="value" name="behaviour_type" style="width: 1000px; height: 40px; padding: 2px; border: 1px solid black" placeholder="Doing homework/Disrupting class/Helping others">
					</div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
               
            </div>
        
        <!-- Load jQuery -->
			<script src="{% static "js/jquery-1.10.2.js" %}"></script>
			<script src="{% static "js/bootstrap.js" %}"></script>
			<script src="{% static "js/modern-business.js" %}"></script>
			<script src="{% static "js/jquery.min.js" %}"></script>
			<script type="text/javascript" src="{% static "jquery-ui-sliderAccess.js" %}"></script>
			<script type="text/javascript" src="{% static "script.js" %}"></script>
		
			</body>
</html>