{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS for the 'Round About' Template -->
    <link href="{% static "css/round-about.css" %}" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand" href="/home/#myCarousel"><strong>ZAYA TEST MODULE</strong></a>
            </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
            
            </div>
            <!-- /.navbar-collapse -->  
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

<div class="row">
    
    <div class="col-lg-12">
        <h1 class="page-header">
            <small></small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>
        </div>
    
</div>
        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">INDEX {{i}}
                    <!-- <small><b>{{ branch }}</b> {{ current_semester }}</small> -->
                </h1>
                <!--<p>This is a great place to start off with a short and sweet description of your company, organization, or whatever purpose your website is serving. Keep it friendly, engaging, but short enough to where you won't lose your reader!</p>
                <p>If you need a bit more space to describe what is going on, we recommend putting a picture in this section. Use the
                    <code>pull-right</code>class on the image to make it look good!</p>-->
            </div>
            <!--
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>-->

        </div>
		
		{% if user_created %}
		<div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <center><a class="alert-link" target="_blank" href=""></a>{{ user.Name }} successfully added 
        </div></center>
		{% endif %}
		
		{% if ADD_STATUS %}
					<div class="alert alert-info alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<center><a class="alert-link" target="_blank" href=""></a>Attendance successfully updated 
					</div></center>
		{% endif %}
		
		
        <div class="row">
			<div class="col-lg-4 col-sm-6">
			
				<a href ="/new_user/">Add a student</a>
				<br></br>
				
				
				<a href ="/update_attendance/">Update attendance</a>
				<br></br>
				
				<a href ="/behaviour_form/">Assign behaviour points</a>
				
			</div>
		</div>

    </div>
    <!-- /container -->
    
    <footer>
    </footer>
    <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>

</body>

</html>
